
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row px-3">
      <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
        <div class="card income-card card-primary">
          <div class="card-body text-center">
            <div class="round-box mb-3">
              <img src="https://raw.githubusercontent.com/coinwink/cryptocurrency-logos/master/coins/128x128/1027.png" alt="" width="60" class="image-thumbnail">
            </div>
            <h5>0</h5>
            <p>24h variation</p><a class="btn-arrow arrow-primary text-success" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-up me-2"></i>95.54% </a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
        <div class="card income-card card-primary">
          <div class="card-body text-center">
            <div class="round-box mb-3">
              <img src="https://raw.githubusercontent.com/coinwink/cryptocurrency-logos/master/coins/128x128/1.png" alt="" width="60" class="image-thumbnail">
            </div>
            <h5>0</h5>
            <p>24h variation</p><a class="btn-arrow arrow-primary text-danger" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-down me-2"></i>-5.54% </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row px-3">
        <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
          <div class="card income-card card-primary">
            <div class="card-body text-center">
              <div class="round-box">
                <svg-icon src="assets/images/svg/dashboard/dashboard.svg" [svgStyle]="{ 'width.px':40 }"></svg-icon>
              </div>
              <h5>8,50,49</h5>
              <p>24h variation</p><a class="btn-arrow arrow-primary text-success" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-up me-2"></i>95.54% </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
          <div class="card income-card card-primary">
            <div class="card-body text-center">
              <div class="round-box">
                <svg-icon src="assets/images/svg/dashboard/dashboard.svg" [svgStyle]="{ 'width.px':40 }"></svg-icon>
              </div>
              <h5>8,50,49</h5>
              <p>24h variation</p><a class="btn-arrow arrow-primary text-danger" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-down me-2"></i>-5.54% </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon  bg-info" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- <div class="row">
  <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
    <div class="card income-card card-primary">
      <div class="card-body text-center">
        <div class="round-box">
          <svg-icon src="assets/images/svg/dashboard/dashboard.svg" [svgStyle]="{ 'width.px':40 }"></svg-icon>
        </div>
        <h5>8,50,49</h5>
        <p>24h variation</p><a class="btn-arrow arrow-primary" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-up me-2"></i>95.54% </a>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
    <div class="card income-card card-secondary">
      <div class="card-body text-center">
        <div class="round-box">
          <svg-icon src="assets/images/svg/dashboard/round-box.svg" [svgStyle]="{ 'width.px':40 }"></svg-icon>
        </div>
        <h5>2,03,59</h5>
        <p>24h variation</p><a class="btn-arrow arrow-secondary" href="javascript:void(0)"><i class="toprightarrow-secondary fa fa-arrow-up me-2"></i>90.54% </a>
      </div>
    </div>
  </div>
</div> -->
