<app-breadcrumb></app-breadcrumb>
<div class="container-fluid">
   <div class="email-wrap bookmark-wrap">
     <div class="row">
       <div class="col-xl-3 box-col-3 xl-30">
         <app-contacts-filter (emitFilterName)="getFilterName($event)" (applyFilter)="fetchUsers({criteria:$event, page:1})"></app-contacts-filter>
       </div>
       <div class="col-xl-9 col-md-12 box-col-9 xl-70">
         <div class="email-right-aside bookmark-tabcontent contacts-tabs">
           <div class="card email-body radius-left">
             <div class="ps-0">
               <div class="tab-content">
                 <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                   <app-personal [usersLength]="usersLength" (applyPageChange)="fetchUsers({criteria:criteriaFilter,page:$event})" (applyFilterWithTerm)="fetchUsers({criteria:$event,page:1})" [filterName]="filterName" *ngIf="users" [users]="users"></app-personal>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
