<div class="container-fluid p-0"> 
    <div class="row m-0">
      <div class="col-12 p-0"> 
        <div class="logo-card">
          <img class="img-logo" src="../../../assets/images/logo.png" alt="logo">
        </div>  
        <div class="login-card">
          <div class="login-main"> 
            <div class="theme-form login-form">
              <h4 style="text-align: center;">Confirmation du compte</h4>
              <p style="font-size: 15px; margin: 10px 0;">Votre compte a été validé veuillez vous connecter à présent.</p>
              <button class="btn btn-primary btn-block" style="margin: 0 auto; margin-top: 20px;" type="button" (click)="goToConnect()">Se Connecter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>