<app-breadcrumb></app-breadcrumb>
<div class="container-fluid dashboard-default-sec">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Payment</h5>
        </div>
        <div class="card-body megaoptions-border-space-sm">
          <div class="row">
            <div class="col-lg-4">
              <div class="u-steps u-steps-vertical">

                <div class="u-step" [ngClass]="classStep1">
                  <span class="u-step-number">1</span>
                  <div class="u-step-desc">
                    <span class="u-step-title">Payment Information</span>
                    <p>Pay for the bill</p>
                  </div>
                </div>

                <div class="u-step" [ngClass]="classStep2">
                  <span class="u-step-number">2</span>
                  <div class="u-step-desc">
                    <span class="u-step-title">Completed</span>
                    <p>Review and Submit</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <form
                class="mega-inline form theme-form"
                [formGroup]="depositForm"
              >
                
                <div class="row" *ngIf="step === 1">
                  <h5 class="title-method">Numero de Telephone</h5>
                  <p style="font-size: 15px">
                    {{ userParse.user.phoneNumber }}
                  </p>
                  <h5 class="title-method">Montant</h5>
                  <div class="col-sm-12">
                    <div class="mb-5">
                      <input
                        class="form-control input"
                        id="exampleFormControlInput1"
                        type="number"
                        placeholder="Entrer le Montant"
                        pattern="^[1-9]\d*$"
                        formControlName="amount"
                        required
                      />
                    </div>
                    <div
                      class="row mt-4"
                      style="margin-top: 20px; margin-bottom: 40px"
                    >
                      <div class="col-md-4">
                        
                      </div>
                      <div class="col-md-4">
                        <button
                          [disabled]="
                            depositForm.controls['amount'].invalid
                          "
                          class="btn btn-primary"
                          (click)="stepAttribute(1)"
                        >
                          Suivant
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="step === 2">
                  <h4 class="title-method">Résumé du retrait</h4>
                  <div class="col-sm-12">
                    <div class="row" style="margin-top: 20px">
                      <div class="col">
                        <h5>Type de paiement</h5>
                        <p style="font-size: 15px">Orange Money</p>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                      <div class="col">
                        <h5>Phone Number</h5>
                        <p style="font-size: 15px">
                          {{ userParse.user.phoneNumber }}
                        </p>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                      <div class="col">
                        <h5>Montant</h5>
                        <p style="font-size: 15px">
                          {{ depositForm.controls["amount"].value }}
                        </p>
                      </div>
                    </div>

                    <div
                      class="row mt-4"
                      style="margin-top: 40px; margin-bottom: 40px"
                    >
                      <div class="col-md-4">
                        <button
                          class="btn btn-secondary"
                          (click)="stepAttribute(0)"
                        >
                          Back
                        </button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary" (click)="confirmIdentityModal()">
                          Valider
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <h5>Précédentes retrais</h5>
            <app-history-table
              type="WITHDRAWAL"
            ></app-history-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
