<app-breadcrumb></app-breadcrumb>
<div class="container-fluid dashboard-default-sec">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Payment</h5>
        </div>
        <div class="card-body megaoptions-border-space-sm">
          <div class="row">
            <div class="col-lg-4">
              <div class="u-steps u-steps-vertical">
                <div class="u-step" [ngClass]="classStep1">
                  <span class="u-step-number">1</span>
                  <div class="u-step-desc">
                    <span class="u-step-title">Information</span>
                    <p>Different types of payment</p>
                  </div>
                </div>

                <div class="u-step" [ngClass]="classStep2">
                  <span class="u-step-number">2</span>
                  <div class="u-step-desc">
                    <span class="u-step-title">Confirm</span>
                    <p>Review and Submit</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <form
                class="mega-inline form theme-form"
                [formGroup]="depositForm"
              >
                <div class="row" *ngIf="step === 1">
                  <h4 class="title-method">Montant</h4>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col">
                        <div class="mb-5">
                          <label
                            class="form-label label-montant"
                            for="exampleFormControlInput1"
                            >Entrer le montant</label
                          >
                          <input
                            class="form-control input-montant"
                            id="exampleFormControlInput1"
                            type="number"
                            placeholder="Montant"
                            formControlName="amount"
                            required=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <h4 class="title-method">Choose Method Type</h4>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="media p-20">
                        <div class="radio radio-primary me-3">
                          <input
                            id="radio14"
                            type="radio"
                            name="radio1"
                            value="option1"
                          />
                          <label for="radio14"></label>
                        </div>
                        <div class="media-body">
                          <img
                            src="../../../assets/images/mobile_money.jpg"
                            alt="logo_mtn"
                          />
                          <p>Mobile Money</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="media p-20">
                        <div class="radio radio-secondary me-3">
                          <input
                            id="radio13"
                            type="radio"
                            name="radio1"
                            value="option1"
                          />
                          <label for="radio13"></label>
                        </div>
                        <div class="media-body">
                          <div class="media-body">
                            <img
                              src="../../../assets/images/orange_money.png"
                              alt="logo_mtn"
                            />
                            <p>Orange Money</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-5">
                    <label
                      class="form-label label-phone"
                      for="exampleFormControlInput1"
                      >Entrer le numero de telephone</label
                    >
                    <input
                      class="form-control input-phone"
                      id="exampleFormControlInput1"
                      type="number"
                      placeholder="Numero de telephone"
                      formControlName="phoneNumber"
                      required
                    />
                  </div>
                  <div class="col-sm-12">
                    <button
                      class="btn btn-primary col-lg-3"
                      (click)="stepAttribute(1)"
                      style="margin-bottom: 40px"
                    >
                      Continue
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="step === 2">
                  <h4 class="title-method">Résumé de la recharge</h4>
                  <div class="col-sm-12">
                    <div class="row" style="margin-top: 20px">
                      <div class="col">
                        <h5>Type de paiement</h5>
                        <p style="font-size: 15px">Orange Money</p>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                      <div class="col">
                        <h5>Phone Number</h5>
                        <p style="font-size: 15px">
                          {{ depositForm.controls["phoneNumber"].value }}
                        </p>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                      <div class="col">
                        <h5>Montant</h5>
                        <p style="font-size: 15px">
                          {{ depositForm.controls["amount"].value }}
                        </p>
                      </div>
                    </div>
                    <div class="row mt-4" style="margin-top: 40px;margin-bottom: 40px">
                      <div class="col-md-4">
                        <button
                          class="btn btn-secondary"
                          (click)="stepAttribute(0)"
                        >
                          Back
                        </button>
                      </div>
                      <div class="col-md-4">
                        <button
                          class="btn btn-primary"
                          (click)="confirmIdentityModal(simpleContent)"
                        >
                          Valider
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <h5>Précédents retrait de fond</h5>
            <div class="col-md-12" *ngIf="loader">
              <div class="loader-box">
                <div class="loader-3"></div>
              </div>
            </div>
            <table class="table table-bordernone" *ngIf="!loader">
              <thead>
                <tr>
                  <th>Désignation</th>
                  <th>Date</th>
                  <th>Montant</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let recent of recentOrders">
                  <td class="font-success">
                    <div class="media">
                      <div class="font-primary">
                        <app-feather-icons
                          icon="arrow-up-right"
                        ></app-feather-icons>
                      </div>
                      <div class="media-body">
                        {{ recent.type }}
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>{{ recent.date | date }}</p>
                  </td>
                  <td>
                    <p>{{ recent.taux }} XAF</p>
                  </td>
                  <td>
                    <span class="badge badge-secondary counter digits"
                      >EFFECTUE</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-danger sweet-7" type="button" (click)="phoneNotActive()">
  Danger
</button>
<ng-template #simpleContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Confirmer votre identité</h5>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <form class="theme-form">
      <div class="mb-3">
        <label class="col-form-label pt-0" for="exampleInputEmail1"
          >Email address</label
        >
        <input
          class="form-control"
          id="exampleInputEmail1"
          type="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        /><small class="form-text text-muted" id="emailHelp"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="mb-3">
        <label class="col-form-label pt-0" for="exampleInputPassword1"
          >Password</label
        >
        <input
          class="form-control"
          id="exampleInputPassword1"
          type="password"
          placeholder="Password"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" data-bs-dismiss="modal" (click)="modal.dismiss('click')">Fermer</button>
    <button class="btn btn-secondary" type="button" (click)="ckeckConfirmation()">Confirmer</button>
  </div>
</ng-template>
