h5.title-method {
  font-weight: 500;
}
.media-body img {
  width: 150px;
  height: 100px;
}
.media-body p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
button {
  margin-left: 14px;
  margin-bottom: 15px;
}
.label-montant {
  margin: 10px 0;
  font-size: 15px;
}
.input {
  height: 50px;
}
