<div class="row">        
    <div class="card income-card">
        <div class="card-header">
            <div class="header-top d-sm-flex align-items-center">
                <h5>Variation de la crypto</h5>
                <div class="center-content">
                    <p class="d-sm-flex align-items-center">
                        <span class="font-primary m-r-10 f-w-700">$859.25k</span>
                        <i class="toprightarrow-primary fa fa-arrow-up m-r-10"></i>
                        86% More than last year
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div id="chart-timeline-dashbord">
                <apx-chart 
                    [chart]="areaSpalineChart.chart"
                    [dataLabels]="areaSpalineChart.dataLabels"
                    [stroke]="areaSpalineChart.stroke"
                    [series]="areaSpalineChart.series"
                    [xaxis]="areaSpalineChart.xaxis"
                    [colors]="areaSpalineChart.colors"
                    [fill]="areaSpalineChart.tooltip">
                </apx-chart>
            </div>
        </div>
    </div>
</div>