<div class="row">        
    <div class="card income-card">
        <div class="card-header">
            <div class="header-top d-sm-flex align-items-center">
                <h5>Variation du prix du Bitcoin</h5>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="chart-timeline-dashbord">
                <canvas baseChart
        [datasets]="btcChart.lineChartData"
        [labels]="btcChart.lineChartLabels"
        [options]="btcChart.lineChartOptions"
        [legend]="btcChart.lineChartLegend"
        
        [type]="'line'">
      </canvas>
            </div>
        </div>
    </div>
    <div class="card income-card">
        <div class="card-header">
            <div class="header-top d-sm-flex align-items-center">
                <h5>Variation du prix de L'Ethereum</h5>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="chart-timeline-dashbord">
                <canvas baseChart
        [datasets]="ethChart.lineChartData"
        [labels]="ethChart.lineChartLabels"
        [options]="ethChart.lineChartOptions"
        [legend]="ethChart.lineChartLegend"
        [type]="'line'">
      </canvas>
            </div>
        </div>
    </div>
</div>