<div class="row">        
    <div class="card income-card">
        <div class="card-header">
            <div class="header-top d-sm-flex align-items-center mb-5">
                <h5>Variation du prix du Bitcoin  <div class="float-end"><div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-outline-primary" [ngClass]="activatedBtcVariation==1?'active':''" (click)="setBtcVariationDuration(1)" type="button">
                      Jour
                    </button>
                    <button class="btn btn-outline-primary" [ngClass]="activatedBtcVariation==7?'active':''" (click)="setBtcVariationDuration(7)" type="button">
                      Semaine
                    </button>
                    <button class="btn btn-outline-primary" [ngClass]="activatedBtcVariation==30?'active':''" (click)="setBtcVariationDuration(30)" type="button">
                      Mois
                    </button>
                    <button class="btn btn-outline-primary" [ngClass]="activatedBtcVariation==0?'active':''" (click)="openMdoModal(modBtcContent)" type="button">
                      Personnalisé
                    </button>
                  </div>
                </div></h5>
               
            </div>
        </div>
        <div class="card-body p-0">
            <div class="chart-timeline-dashbord">
                <h6 *ngIf="latestBtcPrice" class="float-end" [ngClass]="latestBtcPrice>previousBtcPrice?' text-success':latestBtcPrice==previousBtcPrice?' ':' text-danger'">{{latestBtcPrice | number}}  <p class="d-inline"  [ngClass]="latestBtcPrice>previousBtcPrice?' text-success':latestBtcPrice==previousBtcPrice?' ':' text-danger'">USDT</p></h6>
                <canvas baseChart
        [datasets]="btcChart.lineChartData"
        [labels]="btcChart.lineChartLabels"
        [options]="btcChart.lineChartOptions"
        [legend]="btcChart.lineChartLegend"
        
        [type]="'line'">
      </canvas>
            </div>
        </div>
    </div>
    <div class="card income-card">
        <div class="card-header">
            <div class="header-top d-sm-flex align-items-center  mb-5">
                <h5>Variation du prix de L'Ethereum <div class="float-end"><div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-outline-primary" [ngClass]="activatedEthVariation==1?'active':''" (click)="setEthVariationDuration(1)" type="button">
                      Jour
                    </button>
                    <button class="btn btn-outline-primary" [ngClass]="activatedEthVariation==7?'active':''" (click)="setEthVariationDuration(7)" type="button">
                      Semaine
                    </button>
                    <button class="btn btn-outline-primary" [ngClass]="activatedEthVariation==30?'active':''" (click)="setEthVariationDuration(30)" type="button">
                      Mois
                    </button>
                    <button class="btn btn-outline-primary" [ngClass]="activatedEthVariation==0?'active':''" (click)="openMdoModal(modEthContent)" type="button">
                      Personnalisé
                    </button>
                  </div>
                </div></h5>
                
            </div>
            
        </div>
        
        <div class="card-body p-0">
            <div class="chart-timeline-dashbord">
                <h6 *ngIf="latestEthPrice" class="float-end" [ngClass]="latestEthPrice>previousEthPrice?' text-success':latestEthPrice==previousEthPrice?' ':' text-danger'">{{latestEthPrice | number}} <p class="d-inline" [ngClass]="latestEthPrice>previousEthPrice?' text-success':latestEthPrice==previousEthPrice?' ':' text-danger'">USDT</p></h6>
                <canvas baseChart
        [datasets]="ethChart.lineChartData"
        [labels]="ethChart.lineChartLabels"
        [options]="ethChart.lineChartOptions"
        [legend]="ethChart.lineChartLegend"
        [type]="'line'">
      </canvas>
            </div>
        </div>
    </div>
</div>

<ng-template #modBtcContent let-modalBtc>
  <div class="modal-header">
    <h5 class="modal-title">Variation BTC personnalisé</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalBtc.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label class="col-form-label" for="date-start">De :</label>
        <input class="form-control" id="date-start" type="datetime-local" #startDate>
      </div>
      <div class="mb-3">
        <label class="col-form-label" for="date-end">A :</label>
        <input class="form-control" id="date-end" type="datetime-local" #endDate>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="modalBtc.dismiss('Cross click')" data-bs-dismiss="modal">Ferner</button>
    <button class="btn btn-primary" type="button" (click)="getCustomizedDateTime(startDate.value, endDate.value, 'BTC')">Valider</button>
  </div>
</ng-template> 

<ng-template #modEthContent let-modalEth>
  <div class="modal-header">
    <h5 class="modal-title">Variation ETH personnalisé</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalEth.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label class="col-form-label" for="date-start">De :</label>
        <input class="form-control" id="date-start" type="datetime-local" #startDate>
      </div>
      <div class="mb-3">
        <label class="col-form-label" for="date-end">A :</label>
        <input class="form-control" id="date-end" type="datetime-local" #endDate>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="modalEth.dismiss('Cross click')" data-bs-dismiss="modal">Ferner</button>
    <button class="btn btn-primary" type="button" (click)="getCustomizedDateTime(startDate.value, endDate.value, 'ETH')">Valider</button>
  </div>
</ng-template> 