<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Confirmer votre identité</h5>
  <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
</div>
<div class="modal-body">
  <form class="theme-form">
    <div class="mb-3">
      <label class="col-form-label pt-0" for="exampleInputPassword1"
        >Password</label
      >
      <input
        class="form-control"
        autocomplete="off"
        id="exampleInputPassword1"
        type="password"
        placeholder="Password"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary"
    type="button"
    data-bs-dismiss="modal"
    (click)="closeModal()"
  >
    Fermer
  </button>
  <button
    class="btn btn-secondary"
    type="button"
    (click)="ckeckConfirmation()"
  >
    Confirmer
  </button>
</div>
