<form class="form theme-form projectcreate">
   <div class="row">
      <div class="col">
         <div class="mb-3">
            <div class="row">
               <ng-container *ngFor="let item of kyc">
                  <div class="col-md-6 col-12">
                     <label class="mb-3 text-light">{{item.document_type=='cni'?'Pièce d\'identité':'Selfie de vous tenant la pièce
                        d\'identité
                        dans la
                        main'}}</label>
                        <div *ngIf="item.status=='rejected'" class="row text-center mb-3">
                           <span class="text-danger">Rejeté</span><br>
                           <span class="text-danger">{{item.reject_reason}}</span>
                        </div>
                     <div class="dropzone dz-clickable" *ngIf="item.status!='approved';else approvedTemplate">

                        <ngx-dropzone
                           *ngIf="item.status!='submitted';else waitingTemplate"
                           (change)="onSelect(item.document_type,$event)" accept="image/*" [multiple]="item.document_type=='cni' ? true : false">
                           <ngx-dropzone-label>
                              <div>
                                 <div class="dz-message needsclick ">
                                    <i class="fa fa-upload"></i>
                                    <h6>Importer une image</h6>
                                    <span class="dz-message needsclick">(
                                       {{item.document_type=='cni'?'Ajoutez ici deux photos de votre pièce d\'identité recto et verso':'Ajoutez ici votre photo 4x4'}})</span>
                                 </div>
                              </div>
                           </ngx-dropzone-label>
                           <ngx-dropzone-preview *ngIf="item.document_type=='cni'&&cniFile">
                              <ngx-dropzone-label>{{ cniFile.name }} {{ cniFile.type }}</ngx-dropzone-label>
                           </ngx-dropzone-preview>
                           <ngx-dropzone-preview *ngIf="item.document_type=='cni_person'&&cniPersonFile">
                              <ngx-dropzone-label>{{ cniPersonFile.name }} {{ cniPersonFile.type }}</ngx-dropzone-label>
                           </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <p class="text-warning" *ngIf="item.document_type=='cni'&&cniFile&&cniFile!.size>(4 * 1024 * 1024)"><i class="fa fa-warning"></i>Le fichier est trop lourd (>4Mo)</p>
                        <p class="text-warning" *ngIf="item.document_type=='cni_person'&&cniPersonFile&&cniPersonFile!.size>(2 * 1024 * 1024)"><i class="fa fa-warning"></i>Le fichier est trop lourd (>2Mo)</p>
                     </div>
                  </div>
               </ng-container>
               

               <ng-template #approvedTemplate>
                  <h6 class="text-success text-center mt-5">Approuvé</h6>
               </ng-template>
               <ng-template #waitingTemplate>
                  <h6 class="text-warning text-center mt-5">En attente de validation...</h6>
               </ng-template>

            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <div class="text-end">
            <button type="submit" [disabled]="(!cniFile && !cniPersonFile)||isDisabled||isLoading" (click)="onSubmitKyc()" class="btn btn-primary me-3">             
               Importer <i *ngIf="isLoading" class="fa fa-spin fa-circle-o-notch"></i>
            </button>
         </div>
      </div>
   </div>
</form>