<div class="container-fluid p-0"> 
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="logo-card">
        <img class="img-logo" src="../../../assets/images/logo.png" alt="logo">
      </div>    
      <div class="login-card">
        <div class="login-main"> 
          <form class="theme-form login-form" [formGroup]="passwordForm">
            <h4>Mot de passe oublié</h4>
            <div class="form-group">
              <label class="col-form-label">Enter your new Password</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-email text-primary"></i></span>
                <input 
                  class="form-control" 
                  [type]="show ? 'text' : 'password'" 
                  required="" 
                  placeholder="*********"
                  formControlName="password"
                >
                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show text-primary"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide text-primary"></span></div>
              </div>
            </div>
            <div class="form-group">
              <button 
                class="btn btn-primary btn-block" 
                type="submit"
                [disabled]="!passwordForm.valid || txtBtn === 'Réussi'"
                (click)="changePassword()"
              >
                {{ txtBtn }}
              </button>
            </div>
            <p>Already have an account ?<a class="ms-2 text-primary" href="/auth/login">Sign in  </a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<lib-toastify-toast-container></lib-toastify-toast-container>