<div class="container-fluid p-0"> 
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card">
          <div class="login-main"> 
            <form class="theme-form login-form">
              <h4>Mot de passe oublié</h4>
              <div class="form-group">
                <label class="col-form-label">Enter your new Password</label>
                <div class="input-group"><span class="input-group-text"><i class="icon-email text-primary"></i></span>
                 <input class="form-control" name="login[password]" [type]="show ? 'text' : 'password'" required="" placeholder="*********">
                 <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show text-primary"></span></div>
                 <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide text-primary"></span></div>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox">
                  <label class="text-muted" for="checkbox1">Remember password</label>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Save</button>
              </div>
              <p>Already have an account ?<a class="ms-2 text-primary" href="/auth/login">Sign in  </a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>