<div class="col-md-12" *ngIf="loader">
  <div class="loader-box">
    <div class="loader-3"></div>
  </div>
</div>
<table class="table table-bordernone" *ngIf="recentOrders">
   <thead>
    <tr>
      <th>Désignation</th>
      <th>Operateur</th>
      <th>Date</th>
      <th>Montant</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr *ngFor="let recent of recentOrders">
    <td class="font-success">
      <app-feather-icons icon="arrow-up-right"></app-feather-icons>
      {{ recent.type }}
    </td>
    <td>
      {{recent.provider}}
    </td>
    <td>
      {{ recent.updateDate | customDateFormat }}
    </td>
    <td>{{ recent.amount }} XAF</td>
    <td>
      <span class="badge badge-secondary counter digits"
       [ngClass]="recent.status=='PENDING'?' bg-warning':recent.status=='SUCCESS'?' bg-success':' bg-danger'" >{{recent.status=='PENDING'?'EN ATTENTE':recent.status=='SUCCESS'?'EFFECTUE':'ECHOUE'}}</span
      >
    </td>
  </tr>
</table>
