<div class="col-md-12" *ngIf="loader">
  <div class="loader-box">
    <div class="loader-3"></div>
  </div>
  <div class="alert alert-light" *ngIf="errorDisplay">
    <span class="text-danger"
      ><strong>Erreur</strong> errorDisplay !
    </span>
  </div>
</div>
<table class="table table-bordernone" *ngIf="recentOrders">
   <thead>
    <tr>
      <th>Désignation</th>
      <th>Operateur</th>
      <th>Date</th>
      <th>Montant</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr *ngFor="let recent of recentOrders">
    <td class="font-success">
      <app-feather-icons icon="arrow-up-right"></app-feather-icons>
      {{ recent.type=='BUY_CRYPTO'?'ACHAT DE '+recent.final_amount+' '+recent.final_currency:recent.type=='DEPOSIT'?'RECHARGE':recent.type}}
    </td>
    <td>
      {{recent.provider}}
    </td>
    <td>
      {{ recent.creationDate | customDateFormat }}
    </td>
    <td>{{ recent.amount | number:'1.0-0' }} XAF</td>
    <td>
      <span class="badge badge-secondary counter digits"
       [ngClass]="recent.status=='PENDING'?' bg-warning':recent.status=='SUCCESS'?' bg-success':' bg-danger'" >{{recent.status=='PENDING'?'EN ATTENTE':recent.status=='SUCCESS'?'EFFECTUE':'ECHOUE'}}</span
      >
    </td>
  </tr>
</table>
