<app-breadcrumb></app-breadcrumb>
<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-lg-8 col-12">
      <div class="row">
        <div
          class="col-md-6 col-12"
          *ngFor="let data of earningData"
        >
          <div class="card o-hidden border-0">
            <div class="{{ data.classCompo }} b-r-4 card-body">
              <div class="media static-top-widget">
                <div class="align-self-center text-center">
                  <app-feather-icons [icon]="data.icon"></app-feather-icons>
                </div>
                <div class="media-body">
                  <span class="m-0">{{ data.title }}</span>
                  <h4 class="mb-0 counter">{{ data.count }}</h4>
                  <app-feather-icons
                    [icon]="data.icon"
                    class="icon-bg"
                  ></app-feather-icons>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form class="mega-inline">
        <div class="row gy-2">
          <div class="col-sm-12 mb-0">
            <div class="card shadow-lg">
              <div class="card-header">
                <p>
                  From
                  <span class="float-end fw-bold">
                    0.9 {{crypto1.symbol}}
                  </span>
                </p>
                
              </div>
              <div class="card-body">
                
                  <div class="float-start">
                    <input
                    class="form-control m-2"
                    style="font-size: 30px; font-weight: 500; border: 1px solid;"
                    type="number"
                    formControlName="amount"
                    placeholder="0.00"
                  />
                  <span class="text-danger m-2">≃ 7000 XAF</span>
                  
                  </div>
                  <div class="float-end">
                    <button class="btn btn-outline-info" (click)="selectCrypto1(crypto1)">
                      <div class="media static-top-widget">
                        <div class="align-self-center text-center">
                          <img [src]="crypto1.icon">
                        </div>
                        <div class="media-body">
                         <h6>{{crypto1.symbol}}</h6>
                         <span>{{crypto1.name}}</span>
                        </div>
                      </div>
                    </button>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-2 offset-6 card-img-overlay">
            <a class="link-opacity-10-hover">
              <i class="icon-exchange-vertical" (click)="reverse()" style="font-size: 30px;"></i>
            </a>
  </div>
          <div class="col-sm-12">
            <div class="card shadow-lg">
              <div class="card-header">
                <p>
                  To
                  <span class="float-end fw-bold">
                    0 {{crypto2.symbol}}
                  </span>
                </p>
                
              </div>
              <div class="card-body">
                  <div class="float-start">
                    <p
                    class="form-control m-2"
                    style="font-size: 30px; font-weight: 500; border: 1px solid;"
                    >0.00</p>
                  
                  <span class="text-danger m-2">≃ 7000 XAF</span>
                  
                  </div>
                  <div class="float-end">
                    <button class="btn btn-outline-info" (click)="selectCrypto2(crypto2)">
                      <div class="media static-top-widget">
                        <div class="align-self-center text-center">
                          <img [src]="crypto2.icon">
                        </div>
                        <div class="media-body">
                         <h6>{{crypto2.symbol}}</h6>
                         <span>{{crypto2.name}}</span>
                        </div>
                      </div>
                    </button>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-3 offset-5 mb-5">
            <button type="submit" class="btn btn-dark" (click)="success()">
            Convertir
          </button></div>
        </div>
      </form>
      
    </div>
    <div class="col-sm-4 m-2 m-md-0">
      <div class="container-fluid dashboard-default-sec">
        <!-- <div class="col-xl-3 col-sm-3 box-col-6 des-xl-25 rate-sec"> -->
        <div class="card income-card card-secondary">
          <div class="card-body text-center">
            <div class="round-box">
              <svg-icon
                src="assets/images/svg/usd-svg.svg"
                [svgStyle]="{ 'width.px': 90 }"
              ></svg-icon>
            </div>
            <h5>2</h5>
            <p class="devise">USD</p>
            <a class="btn-arrow arrow-secondary" href="javascript:void(0)">
              <i class="toprightarrow-secondary fa fa-arrow-up me-2"></i>
              90.54%
            </a>
            <div class="parrten">
              <svg-icon
                src="assets/images/svg/usd-svg.svg"
                [svgStyle]="{ 'width.px': 60 }"
              ></svg-icon>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-primary" (click)="selectCrypto1({})">Convertir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
