<app-breadcrumb></app-breadcrumb>
<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-xl-8 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Transfert de crypto-monnaies</h5>
        </div>
        <form [formGroup]="sendForm">
          <div class="card-body">
            <div class="row g-3">
              <div class="col-lg-5 col-12 d-flex">
                <input type="text" formControlName="address" class="form-control border-black"
                  placeholder="Adresse crypto du receveur" />
              </div>
              <div class="col-lg-2 col-6 d-flex">

                <select class="form-control form-control-primary-fill btn-square" (change)="getCryptoMinimumAmount()"
                  formControlName="currency">
                  <option value="USDT" [selected]="true">USDT</option>
                  <option value="BTC">BTC</option>
                  <option value="ETH">ETH</option>
                </select>
              </div>
              <div class="col-lg-2 col-6">
                <input type="number" (keyup)="bindInputValue()"
                  class="form-control border-black {{(minimumCryptoWithdrawAmount && !sendForm.value['amount'].invalid && minimumCryptoWithdrawAmount<=sendForm.value['amount'])?'border-success':(minimumCryptoWithdrawAmount && sendForm.value['amount']!='' && minimumCryptoWithdrawAmount! > sendForm.value['amount'] )?'border-danger':''}}"
                  placeholder="Montant" formControlName="amount" />

              </div>


              <div class="col-lg-2 col-6">
                <button class="btn btn-primary" type="submit"
                  [disabled]="sendForm.value['address'].invalid || sendForm.value['amount'].invalid || loadingTransfert"
                  (click)="confirmIdentityModal()">
                  {{!loadingTransfert ? "Transférer" : ""}}<i *ngIf="loadingTransfert"
                    class="fa fa-spin fa-circle-o-notch"></i>
                </button>
              </div>
              <div *ngIf="alertMsg">
                <p class="text-danger">{{alertMsg}}</p>
              </div>
              <p style="display:none;" id="live-spinner"><i class="fa fa-spin fa-spinner"></i></p>
              <ul id="live-content" style="display:none; justify-content: space-around;">
                <li><b id="live-value6" class="text-success h5 "></b> de cout au total</li>
                <li><b id="live-value1"></b> </li>
                <li><b id="live-value4"></b> de frais manen crypto</li>
                <li><b id="live-value5"></b> de frais réseau crypto</li>

              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xl-4 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Solde actuel</h5>
        </div>
        <div class="card-body p-0">
          <app-crypto-balance></app-crypto-balance>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Grille tarifaire</h5>
          <!-- <span>A <code>&lt;caption&gt;</code> functions like a heading for a table. It helps users with screen readers to find a table and understand what it’s about and decide if they want to read it.</span> -->
        </div>
        <div class="card-block row">
          <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
              <table class="table table-bordernone table-responsive-sm table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Crypto-monnaie</th>
                    <th scope="col">Valeur</th>
                    <th scope="col">Frais Manen</th>
                    <th scope="col">Frais Reseau</th>
                    <th scope="col">Montant Min. Transferable</th>
                  </tr>
                </thead>

                <tr *ngFor="let item of transfertPricingItems$ | async">
                  <th scope="row">
                    <div class="d-flex justify-content-start" style="background-color: transparent !important;"><img
                        [src]="item.icon" width="45" [alt]="item.abv" class="image-thumbail" />
                      <div><span class="text-body fw-bold">{{ item.name }}</span><br /> <span
                          class="text-muted fw-lighter">{{ item.abv
                          }}</span></div>
                    </div>
                  </th>
                  <td>
                    <div style="background-color: transparent !important;"><span
                        class="text-body fw-bolder">{{item.usdValue}}</span><br /> <span
                        class="text-muted fw-light">{{item.xafValue}}</span></div>

                  </td>
                  <td>
                    <div style="background-color: transparent !important;"><span
                        class="text-body fw-bolder">{{item.transferFee}}</span><br /> <span
                        class="text-muted fw-light">{{item.transferXafFee}}</span></div>
                  </td>
                  <td>
                    <div style="background-color: transparent !important;"><span
                        class="text-body fw-bolder">{{item.networkFee}} </span><br /> <span
                        class="text-muted fw-light">{{
                        item.networkXafFee }}</span>
                    </div>
                  </td>
                  <td>
                    <div style="background-color: transparent !important;"><span
                        class="text-body fw-bolder">{{item.minCryptoTransferValue}} </span><br /> <span
                        class="text-muted fw-light">{{
                        item.minTransferValue }}</span><br /> <span class="text-muted fw-light">{{
                        item.minTransferXafValue
                        }}</span></div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 box-col-12 des-xl-100">
        <div class="card">
          <div class="card-header">
            <h5>Précédents transfert de cryptomonnaies</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <app-history-table type="WITHDRAW_CRYPTO" [reloadHistory]="reloadHistory"></app-history-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>