<app-breadcrumb></app-breadcrumb>
<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-xl-8 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Transfert de crypto-monnaies</h5>
        </div>
        <form [formGroup]="sendForm">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-lg-6 col-12 d-flex">
              <input type="text" formControlName="address" class="form-control border-black" placeholder="Adresse crypto du receveur" />
            </div>
            <div class="col-lg-1 col-6 d-flex">
              
              <select class="form-control form-control-primary-fill btn-square" (change)="getCryptoMinimumAmount()" formControlName="currency">
                <option value="USDT" [selected]="true">USDT</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
              </select>
            </div>
            <div class="col-lg-3 col-6">
              <input type="number" (keyup)="bindInputValue()" class="form-control border-black {{(minimumCryptoWithdrawAmount && !sendForm.value['amount'].invalid && minimumCryptoWithdrawAmount<=sendForm.value['amount'])?'border-success':(minimumCryptoWithdrawAmount && sendForm.value['amount']!='' && minimumCryptoWithdrawAmount! > sendForm.value['amount'] )?'border-danger':''}}"  placeholder="Montant" formControlName="amount" />
              
            </div>
            

            <div class="col-lg-2 col-6">
              <button class="btn btn-primary" type="submit" [disabled]="sendForm.value['address'].invalid || sendForm.value['amount'].invalid || loadingTransfert" (click)="confirmIdentityModal()">
               {{!loadingTransfert ? "Transferer" : ""}}<i *ngIf="loadingTransfert" class="fa fa-spin fa-circle-o-notch"></i>
              </button>
            </div>
            <div *ngIf="alertMsg"><p class="text-danger">{{alertMsg}}</p></div>
            <p><i class="fa fa-spin fa-spinner" style="display:none;" id="live-spinner"></i></p>
      <ul id="live-content" style="display:none; justify-content: space-around;">
        <li>Valeur en XAF : <span style="color:green;" id="live-value1"></span></li>
        <li>Frais de transaction : <span style="color:green;" id="live-value2"></span></li>
        <li>Cout total : <span style="color:green;" id="live-value3"></span></li>
      </ul>
          </div>
        </div>
      </form>
      </div>
    </div>
    <div class="col-xl-4 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Solde actuel</h5>
        </div>
        <div class="card-body p-0">
          <app-crypto-balance></app-crypto-balance>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Précédents transfert de cryptomonnaies</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <app-history-table type="WITHDRAW_CRYPTO" [reloadHistory]="reloadHistory"></app-history-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>