<app-breadcrumb></app-breadcrumb>
<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-md-8 col-12">
      <div class="col-12 mb-4">
        <div class="card">
          <h5 class="card-header">Make a new crypto transfert</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-12 d-flex">
                <div class="bookmark" style="margin-right: 8px">
                  <ul>
                    <li>
                      <a
                        data-container="body"
                        data-bs-toggle="popover"
                        data-placement="top"
                        title=""
                        data-original-title="Tables"
                        ><i data-feather="maximize"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Crypto address"
                />
              </div>
              <div class="col-md-2 col-4 d-flex">
                <input type="number" class="form-control border-black" placeholder="amount" >
              </div>
              <div class="col-md-2 col-4 d-flex">
                <select name="" id="" class="form-select bg-dark-subtle">
                  <option value="">TRC-20</option>
                  <option value="">ERC-20</option>
                  <option value="">TRC-50</option>
                </select>
              </div>
              <div class="col-md-2 col-4 d-flex">
                <button
                  class="btn btn-dark"
                  type="submit"
                  (click)="confirmIdentityModal()"
                >
                  Transfert
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 box-col-12 des-xl-100">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <h5>Précédents transfert de cryptomonnaies</h5>
                <div class="col-md-12" *ngIf="loader">
                  <div class="loader-box">
                    <div class="loader-3"></div>
                  </div>
                </div>
                <table class="table table-bordernone" *ngIf="!loader">
                  <thead>
                    <tr>
                      <th>Adresse</th>
                      <th>Date</th>
                      <th>Montant</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let recent of recentOrders">
                      <td class="font-success">
                        <div class="media">
                          <div class="font-primary">
                            <app-feather-icons
                              icon="arrow-up-right"
                            ></app-feather-icons>
                          </div>
                          <div class="media-body">
                            {{ recent.type }}
                          </div>
                        </div>
                      </td>
                      <td>
                        <p>{{ recent.date | date }}</p>
                      </td>
                      <td>
                        <p>{{ recent.taux }} XAF</p>
                      </td>
                      <td>
                        <span class="badge badge-secondary counter digits"
                          >EFFECTUE</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div
          class="card-header pb-0 d-flex justify-content-between align-items-center"
        >
          <h5 class="text-uppercase">Your Crypto Current Balance</h5>
        </div>
        <div class="row">
          <div class="container-fluid dashboard-default-sec">
            <div class="row">
              <div class="col-xl-12 box-col-12 des-xl-100">
                <div class="row">
                  <div
                    class="col-xl-12 col-md-12 col-sm-6 box-col-3"
                    *ngFor="let currentValue of currentValues"
                  >
                    <div class="card income-card card-{{ currentValue.class }}">
                      <div class="card-body text-center">
                        <div class="round-box">
                          <svg-icon
                            src="assets/images/svg/{{ currentValue.icon }}"
                            [svgStyle]="{ 'width.px': 90 }"
                          ></svg-icon>
                        </div>
                        <h5>
                          {{ currentValue.value }} {{ currentValue.type }}
                        </h5>
                        <p>
                          Value <b>{{ currentValue.actuelValue }}</b> XAF
                        </p>
                        <a
                          class="btn-arrow arrow-{{ currentValue.class }}"
                          href="javascript:void(0)"
                          ><i
                            class="toprightarrow-primary fa fa-arrow-up me-2"
                          ></i
                          >95.54%
                        </a>
                        <div class="parrten">
                          <svg-icon
                            src="assets/images/svg/{{ currentValue.icon }}"
                            [svgStyle]="{ 'width.px': 90 }"
                          ></svg-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
