<div class="notification-box">
  <app-feather-icons [icon]="'bell'"></app-feather-icons>
  <span class="dot-animated"></span>
</div>
<ul class="notification-dropdown onhover-show-div">
  <li>
    <p class="f-w-700 mb-0">Vous avez des alertes<span
        class="pull-right badge badge-primary rounded-pill">{{notifications.length}}</span></p>
  </li>
  <li *ngFor="let item of notifications" [routerLink]="'/client/profile-edit'" class="noti-{{item.type}}">
    <div class="media"><span class="notification-bg bg-light-{{item.type}}"><app-feather-icons [icon]="(item.status=='rejected')?'alert-octagon':(item.status=='approved')?'check-square':(item.status=='submitted')?'loader':'alert-triangle'"> </app-feather-icons></span>
      <div class="media-body">
        <p>{{item.title}}</p><span>{{item.text}}</span>
      </div>
    </div>
  </li>
  
</ul>
