<app-breadcrumb></app-breadcrumb>
<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-xl-8 box-col-12 des-xl-100">

      <div class="row">
        <div class="bootstrap-tables">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Valeurs de la crypto</h5>
                <!-- <span>A <code>&lt;caption&gt;</code> functions like a heading for a table. It helps users with screen readers to find a table and understand what it’s about and decide if they want to read it.</span> -->
              </div>
              <div class="card-block row">
                <div class="col-sm-12 col-lg-12 col-xl-12">
                  <div class="table-responsive">
                    <table class="table table-bordernone table-responsive-sm table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Crypto-monnaie</th>
                          <th scope="col">Valeur d'achat (Avec frais)</th>
                          <th scope="col">Frais Manen</th>
                          <th scope="col">Montant Min. Achat</th>
                          <th scope="col">Montant Min. Transferable </th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>

                      <tr *ngFor="let item of items$ | async">
                        <th scope="row">
                          <div class="d-flex justify-content-start" style="background-color: transparent !important;"><img [src]="item.icon" width="45" [alt]="item.abv"
                              class="image-thumbail" />
                            <div><span class="text-body fw-bold">{{ item.name }}</span><br /> <span class="text-muted fw-lighter">{{ item.abv
                                }}</span></div>
                          </div>
                        </th>
                        <td>
                          <div style="background-color: transparent !important;"><span class="text-body fw-bolder">{{item.usdValue}}</span><br /> <span
                              class="text-muted fw-light">{{item.xafValue}}</span></div>

                        </td>
                        <td>
                          <div style="background-color: transparent !important;"><span class="text-body fw-bolder">{{item.manenFee}}</span><br /> <span
                              class="text-muted fw-light">{{item.manenXafFee}}</span></div>
                        </td>
                        <td>
                          <div style="background-color: transparent !important;"><span class="text-body fw-bolder">{{item.minCryptoByingValue}} </span><br /> <span
                              class="text-muted fw-light">{{ item.minByingValue }}</span><br /> <span
                              class="text-muted fw-light">{{ item.minByingXafValue }}</span></div>
                        </td>
                        <td>
                          <div style="background-color: transparent !important;"><span class="text-body fw-bolder">{{item.minCryptoTransferableValue}} </span><br /> <span
                              class="text-muted fw-light">{{ item.minTransferableValue }}</span><br /> <span
                              class="text-muted fw-light">{{ item.minTransferableXafValue }}</span></div>
                        </td>
                        <td>
                          <button class="btn btn-primary-gradien" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter" (click)="initBuyingProcess(item.abv)">
                            Acheter
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Solde actuel</h5>
        </div>
        <div class="card-body p-0">
          <app-crypto-balance></app-crypto-balance>
        </div>
      </div>
    </div>
    <div class="col-xl-12 box-col-12 des-xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Précédentes recharges de compte</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <app-history-table type="BUY_CRYPTO" [reloadHistory]="reloadHistory"></app-history-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-container">
  <!-- Indicateur de chargement -->
  <div *ngIf="loading$ | async" class="loading-indicator">
    <p>Mise à jour des prix en cours...</p>
  </div>

  <!-- Affichage des erreurs -->
  <div *ngIf="error$ | async as error" class="error-message">
    <p>{{ error }}</p>
    <button (click)="onRefresh()" class="retry-button">Réessayer</button>
  </div>
</div>
</div>