<app-breadcrumb></app-breadcrumb>
<div class="container-fluid general-widget">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6 col-xl-6 col-lg-6" *ngFor="let data of earningData">
                    <div class="card o-hidden border-0">
                        <div class="{{data.classCompo}} b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="align-self-center text-center">
                                    <app-feather-icons [icon]="data.icon"></app-feather-icons>
                                </div>
                                <div class="media-body"><span class="m-0">{{ data.title }}</span>
                                    <h4 class="mb-0 counter">{{ data.count }}</h4>
                                    <app-feather-icons [icon]="data.icon" class="icon-bg"></app-feather-icons>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bootstrap-tables">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            <h5>Crypto Value</h5>
                            <!-- <span>A <code>&lt;caption&gt;</code> functions like a heading for a table. It helps users with screen readers to find a table and understand what it’s about and decide if they want to read it.</span> -->
                            </div>
                            <div class="card-block row">
                            <div class="col-sm-12 col-lg-12 col-xl-12">
                                <div class="table-responsive">
                                <table class="table">
                                    <!-- <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Employee Name</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                    </thead> -->
                                    <tbody>
                                    <ng-container *ngFor="let item of items"> 
                                    <tr>
                                        <th scope="row">{{item.name}}</th>
                                        <td>1 {{item.abv}}</td>
                                        <td>{{item.value}} FCFA</td>
                                        <td>
                                            <button 
                                                class="btn btn-primary-gradien" 
                                                type="button" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#exampleModalCenter" 
                                                (click)="VerticallyCenteredModal(verticallyContent)"
                                            >
                                                Buy
                                            </button>
                                        </td>
                                    </tr>
                                    </ng-container>
                                    <ng-template #verticallyContent let-modal>
                                        <div class="modal-header">
                                        <h5 class="modal-title">Buying Process</h5>
                                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>    
                                        </div>
                                        <div class="modal-body">
                                        <p class="text-center">How much are you needing ?</p>
                                        <input type="text" class="form-control">
                                        <label for="">BTC</label>
                                        </div>
                                        <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Valider</button>
                                        <!-- <button class="btn btn-primary" type="button">Save changes</button> -->
                                        </div>
                                    </ng-template>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h5 class="text-uppercase">Your Crypto Current Balance</h5>
                </div>
                <div class="row">
                    <div class="container-fluid dashboard-default-sec">
                        <div class="row">
                            <div class="col-xl-5 box-col-12 des-xl-100">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-6 box-col-3" *ngFor="let currentValue of currentValues">
                                        <div class="card income-card card-{{currentValue.class}}">                                 
                                            <div class="card-body text-center">                                  
                                                <div class="round-box">
                                                    <!-- <svg-icon src="assets/images/svg/dashboard/dashboard.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon> -->
                                                </div>
                                                <h5>{{ currentValue.value}} {{ currentValue.type }}</h5>
                                                <p>Value <b>{{ currentValue.actuelValue }}</b> XAF</p>
                                                <a class="btn-arrow arrow-{{currentValue.class}}" href="javascript:void(0)"><i class="toprightarrow-primary fa fa-arrow-up me-2"></i>95.54% </a>
                                                <div class="parrten">
                                                    <!-- <svg-icon src="assets/images/svg/dashboard/boll.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>