.img-logo {
    width: 250px;
    height: 250px;
    background: transparent;
    justify-content: center
}
button {
    width: 100%;
    height: 40px;
}
h4, label {
    text-transform: uppercase !important;
}