<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="logo-card">
        <img class="img-logo" src="../../../assets/images/logo.png" alt="logo">
      </div>
      <div class="login-card">
        <form class="theme-form login-form" [formGroup]="loginForm">
          <h4>Sign-In</h4>
          <h6>Access the Dashlite panel using yout email and Passcode</h6>
          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <span class="input-group-text"><i class="icon-email text-primary"></i></span>
              <input
                class="form-control"
                type="email"
                placeholder="Enter yout email address or username"
                formControlName="email"
              />
              <div
                *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']"
                class="text text-danger mt-1"
              >
                Email is required
              </div>
              <div
                *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']"
                class="text text-danger mt-1"
              >
                Invalid Email
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <span class="input-group-text"><i class="icon-lock text-primary"></i></span>
              <input
                class="form-control"
                [type]="show ? 'text' : 'password'"
                name="login[password]"
                required=""
                placeholder="Enter your passcode"
                formControlName="password"
              />
              <div class="show-hide" (click)="showPassword()" *ngIf="!show">
                <span class="show text-primary"></span>
              </div>
              <div class="show-hide" (click)="showPassword()" *ngIf="show">
                <span class="Hide text-primary"></span>
              </div>
              <div
                *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']"
                class="text text-danger mt-1"
              >
                Password is required
              </div>
              <div
                *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].value.length < 8"
                class="text text-danger mt-1"
              >
                Passcodes length must have more 8 caracters
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-bottom: 20px;">
            <a
              class="link text-primary"
              href="/auth/enter-email"
              [routerLink]="'/auth/enter-email'"
              >Forgot password?</a
            >
          </div><br><br>

          <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha">
          </ngx-recaptcha2><br>

          <div class="form-group">
            <button
              class="btn btn-primary btn-block"
              [disabled]="!loginForm.valid || textBtn === 'Login...'"
              (click)="login()"
              type="submit"
            >
              {{ textBtn }}
            </button>
          </div>
          
          <p *ngIf="error" class="text-danger" style="font-size: 15px;">{{ errorMessage }}</p>
          <p>
            New on our platform ?<a class="ms-2 text-primary" href="/auth/register"
              >Create an account</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
