<div class="mt-0 mb-3 col-md-12">
   <label>Name</label>
   <div class="row">
     <div class="col-sm-6">
       <input class="form-control" id="first_name" type="text" required="" placeholder="First Name" value="first_name">
     </div>
     <div class="col-sm-6">   
       <input class="form-control" id="last_name" type="text" required="" placeholder="Last Name" value="last_name">
     </div>
   </div>
 </div>
 <div class="mt-0 mb-3 col-md-12">
   <label>Email Address</label>
   <input class="form-control" id="email_add" type="text" required="" autocomplete="off">
 </div>
 <div class="mt-0 mb-3 col-md-12">
   <label>Phone</label>
   <div class="row">
     <div class="col-sm-6">
       <input class="form-control" id="mobile_num" type="number" required="" autocomplete="off">
     </div>
     <div class="col-sm-6">
       <select class="form-control form-select">
         <option>Mobile</option>
         <option>Work</option>
         <option>Others</option>
       </select>
     </div>
   </div>
 </div>