<div class="page-wrapper" id="pageWrapper">        
    <div class="error-wrapper">
      <div class="container">
        <div class="error-page1">
          <div class="svg-wrraper mb-0">
            <svg-icon src="assets//images//svg/error/error3.svg"></svg-icon>
          </div>
          <div class="col-md-8 offset-md-2">
            <h3>Sorry, Something Goes Wrong</h3>
            <p class="sub-content">The page you are attempting to reach is currently not available. This may be because the page does not exist or has been moved.</p><a class="btn btn-primary btn-lg" [routerLink]="['/client/home']">BACK TO HOME PAGE</a>
          </div>
        </div>
      </div>
    </div>
</div>