<div class="sidebar-user text-center">
    <!-- <a class="setting-primary" href="javascript:void(0)">
      <app-feather-icons [icon]="'settings'"></app-feather-icons>
    </a>
    <img class="img-90 rounded-circle" src="assets/images/dashboard/1.png" alt="">
    <div class="badge-bottom">
      <span class="badge badge-primary">New</span>
    </div> -->
    <div style="display: flex;">
      <img class="img-60 rounded-circle" src="assets/images/dashboard/1.png" alt="">
      <div>
        <a href="client/profile">
          <h6 class="mt-3 f-14 f-w-600">{{ user.name }}</h6>
        </a>
        <p class="mb-0 font-roboto">{{ user.email }}</p>
      </div>
    </div>
    <!-- <ul>
      <li>
        <span><span class="counter">Téléphone</span></span>
        <p>{{ user.phone }}</p>
      </li>
      <ng-container *ngIf="user.isPhoneVerified">
        <li>
          <span><span class="counter">Status compte</span></span>
          <p>Validé</p>
        </li>
      </ng-container>

      <ng-container *ngIf="!user.isPhoneVerified">
        <li [routerLink]="'/client/profile-edit'" class="not-validated">
          <span><span class="counter">Status compte</span></span>
          <p>Pas validé</p>
        </li>
      </ng-container>
    </ul> -->
</div>
