<app-breadcrumb></app-breadcrumb>
<div class="container-fluid dashboard-default-sec">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                  <h5>Retraits mobile en attente</h5>
                </div>
            <app-withdraw-cart operationType="WITHDRAW"></app-withdraw-cart>
        </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                  <h5>Retraits crypto en attente</h5>
                </div>
            <app-withdraw-cart operationType="WITHDRAW_CRYPTO"></app-withdraw-cart>
        </div>
        </div>
    </div>
</div>