<app-breadcrumb></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Balance crypto</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-12 box-col-3"
                            *ngFor="let crypto of wallet">
                            <div class="card income-card card-primary">
                                <div class="card-body text-center">
                                  <div class="round-box mb-3">
                                    <img
                                      [src]="crypto.image_url"
                                      alt=""
                                      width="60"
                                      class="image-thumbnail"
                                    />
                                  </div>
                                  <h5>{{ crypto.wallet.solde | number:'1.0-9'}}{{' '+crypto.wallet.type}}</h5>
                                  <p *ngIf="crypto.details.weekly_percentage">Les derniers Jours</p>
                                  <a *ngIf="crypto.details.weekly_percentage" class="btn-arrow arrow-primary"
                                  [ngClass]="crypto.details.weekly_percentage > 0 ? ' text-success' : ' text-danger'"
                                    ><i
                                    class="toprightarrow-primary fa fa-arrow-{{
                                     crypto.details.weekly_percentage > 0 ? 'up' : 'down'
                                    }} me-2"
                                  ></i>
                                  {{ crypto.details.weekly_percentage | number : "1.2-2" }} %</a
                                  >
                                  <button class="btn btn-dark mt-3 arrow-primary" [disabled]="crypto.wallet.solde<=0"
                                        (click)="initBuyingProcess(crypto.wallet.type)">Vendre</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 box-col-12 des-xl-100">
            <div class="card">
              <div class="card-header">
                <h5>Précédentes ventes de cryptomonnaies</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <app-history-table type="SELL_CRYPTO"></app-history-table>
                </div>
              </div>
            </div>
          </div>
    </div>

</div>